.section {
  display: flex;
  padding-top: 5rem;
  margin: 2rem auto;

  width: 80%;
  height: 97vh;

  overflow: hidden;
}

.description {
  font-size: var(--fifth-font-size);
  color: var(--fourth-text-color);
  margin-bottom: 1rem;
}

.sectionTitle {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: var(--primary-font-size);
  font-weight: bold;
  color: var(--third-text-color);
}

@media (max-width: 1360px) {
  .section {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .section {
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
  }

  .sectionTitle {
    margin-bottom: 0.5rem;
  }
}