.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  width: 100%;
  background-color: transparent;
}

.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: transparent;
}

.header-name {
  color: var(--primary-text-color);
  padding: 1rem 2rem 1rem 0;
  font-weight: bold;
  font-size: 2.5rem;
}

.header-menu {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none;
  background-color: transparent;

}

.header-menu li {
  padding: 0.7rem;
  background-color: transparent;

}

.header-menu li:hover {
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.header-menu li a {
  color: var(--third-text-color);
  background-color: transparent;
  text-decoration: none;
}

