.section.about {
  gap: 7%;
  align-items: center;
}

.about-leftContent img {
  width: 100%;
  object-fit: cover;
}

.about-rightContent {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.about-introduce {
  margin-bottom: 1.5rem;
  font-size: var(--third-font-size);
  color: var(--fourth-text-color);
}

.about-description {
  margin-bottom: 1rem;
  font-size: var(--fourth-font-size);
  color: var(--fourth-text-color);
}

.about-experience {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  list-style: none;
}

.about-experience li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.about-experience li h2 {
  margin-bottom: 0.5rem;
  color: var(--primary-text-color);
  font-size: 3.5rem;
}

.about-experience li span {
  color: var(--primary-text-color);
  font-size: var(--third-font-size);
  text-align: center;
}

.about-btnContact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 14rem;
  height: 3rem;

  margin: 0 auto;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  font-size: var(--third-font-size);
  border-radius: 5rem;
  border: solid 2px var(--primary-text-color);
  cursor: pointer;
}

.about-btnContact p {
  background-color: transparent;
}

.about-btnContact svg {
  background-color: transparent;
}

.about-btnContact:hover {
  box-shadow: 0 0 1px 1px #fff;
}

.about-btnContact:hover svg {
  animation: phoneRing 0.2s infinite;

}

@keyframes phoneRing {
  0% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}




@media (max-width: 1360px) {
  .about-experience li h2 {
    font-size: calc(3.5rem * 0.8)
  }
}

@media (max-width: 1180px) {
  .about-leftContent {
    max-width: 60%;
  }

  .about-experience li h2 {
    font-size: calc(3.5rem * 0.7)
  }
}

@media (max-width: 1090px) {
  .about-experience li h2 {
    font-size: calc(3.5rem * 0.6)
  }
}

@media (max-width: 900px) {
  .section.about {
    gap: 3%;
  }

  .about-experience li h2 {
    font-size: calc(3.5rem * 0.55)
  }
}

@media (max-width: 800px) {
  .section.about {
    height: auto;
  }

  .about-leftContent {
    max-width: 55%;
    margin-bottom: 1rem;
  }

  .about-rightContent {
    width: 100%;
  }

  .about-introduce {
    margin-bottom: 0.7rem;
  }

  .about-description {
    margin-bottom: 0.5rem;
  }

  .about-experience {
    gap: 1rem;
  }

  .about-experience li h2 {
    margin-bottom: 0.7rem;
  }

  .about-experience li {
    margin-bottom: 1.5rem;
  }

}