* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #081b28;
  --secondary-color: #00a1e0;
  --third-color: #102a3c;
  --primary-text-color: #dcf9fc;
  --secondary-text-color: #048399;
  --third-text-color: #dfdfdf;
  --fourth-text-color: #828586;
  background-color: var(--primary-color);
  --primary-font-size: 2.5rem;
  --secondary-font-size: 2rem;
  --third-font-size: 1.5rem;
  --fourth-font-size: 1.3rem;
  --fifth-font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

@media (max-width: 1360px) {
  :root {
    --primary-font-size: calc(2.5rem*0.8);
    --secondary-font-size: calc(2rem*0.8);
    --third-font-size: calc(1.5rem*0.8);
    --fourth-font-size: calc(1.3rem*0.8);
    --fifth-font-size: calc(1rem*0.8);
  }

  .about-experience li h2 {
    font-size: calc(3.5rem * 0.8)
  }

  .home-name {
    font-size: calc(5rem*0.7) !important;
  }
}